.flex-col{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.flex-row{
    display:flex;
justify-content:center;
align-items:center;
}
li{

}

a{
text-decoration:none;
color:grey;
width:200px;
height:40px;
background:lightgray;
border: 1px solid black;
padding:10px;
box-shadow: 2px 2px 5px 3px grey;
border-radius: 5px;
}

a:hover{
    opacity:0.5;
}
nav{
    width:200px;
    position:fixed;
    top:0;
    left:15px;
}

#section-container{
    margin-left:230px;
}

@media screen and (max-width:850px){

    #main-doc{
        display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
    }
    #section-container{
        margin-left:200px;
    }
 

    nav{
        position:relative;
   
    }
   
    
   
}