.flex-col{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.flex-row{
    display:flex;
justify-content:center;
align-items:center;
}
li{
list-style:georgian;
color: rgb(12, 05, 66);
font-family: 'Dancing Script', cursive;
font-size: 1.3em;

}

a{
text-decoration:none;
color:grey;
width:200px;
height:40px;
background:lightgray;
border: 1px solid black;
padding:10px;
box-shadow: 2px 2px 5px 3px grey;
border-radius: 5px;
}

a:hover{
    opacity:0.5;
}
nav{
    width:200px;
    position:fixed;
    top:2px;
    left:15px;
}

#section-container{
    margin-left:230px;
}

@media screen and (max-width:850px){

    #main-doc{
        display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
    }
    #section-container{
        margin-left:200px;
    }
 

    nav{
        position:relative;
   
    }
   
    
   
}
p{
    font-family: 'Dancing Script', cursive;
font-family: 'Noto Serif', serif;
}
header{
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    margin: 10px;
}
code{
    font-family: 'Dancing Script', cursive;
    font-family: 'Noto Serif', serif;
    background-color: antiquewhite;
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
section{
    margin-top: 20px;
}